[submodule "sources_non_forked/color_coded"]
	path = sources_non_forked/color_coded
	url = https://github.com/jeaye/color_coded.git
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = git@github.com:RobotMa/YouCompleteMe.git
[submodule "sources_non_forked/syntastic"]
	path = sources_non_forked/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "sources_non_forked/vim_cpp_enhanced_highlight"]
	path = sources_non_forked/vim_cpp_enhanced_highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "sources_non_forked/vim-fsitch"]
	path = sources_non_forked/vim-fsitch
	url = git@github.com:derekwyatt/vim-fswitch.git
[submodule "sources_non_forked/vim-protodef"]
	path = sources_non_forked/vim-protodef
	url = git@github.com:derekwyatt/vim-protodef.git
